<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cutter. There is your link</title>
    <link rel="stylesheet"  type="text/css" href="stylesheet.css"/>
    <link rel="shortcut icon" href="favicon.ico" />

</head>
<body>
<div class="Wrapper">
    <h1 class="Title">Here is your short link</h1>
    <div class="Input">
        <input type="text" id="link" class="Input-text" th:value="${link}">
        <a th:href="${link}" th:text="${link}"></a>
    </div>
</div>
</body>
</html>