<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shorty - simply URI shortener</title>
  <link rel="stylesheet"  type="text/css" href="stylesheet.css"/>
  <link rel="shortcut icon" href="favicon.ico" />

</head>
<body>
<div class="Wrapper">
  <h1 class="Title">Shorty. We know, how to make things shorter</h1>
  <div class="Input">
<form action="/" method="post" >
  <input type="text"  id="link" name="link" class="Input-text" placeholder="Enter your link here">
</form>
  </div>
</div>
</body>
</html>